<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Rut</th>
					<th>Nombre</th>
					<th>Nacimiento</th>
					<th>Carrera</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="alumno:${alumnos}">
					<td>${alumno.id}</td>
					<td>${alumno.rut}</td>
					<td>${alumno.nombre}</td>
					<td>${alumno.nacimiento}</td>
					<td>${alumno.carrera}</td>
					<td>
					<a class="btn btn-warning">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>